@media only screen and (orientation: portrait) {}

@media only screen and (min-width: 1024px) and (max-width: 1080px) {}
@media only screen and (min-width: 1080px) and (max-width: 1280px) {}
@media only screen and (min-width: 1280px) and (max-width: 1440px) {}
@media only screen and (min-width: 1440px) and (max-width: 1680px) {
  h1{
    font-size: 36px;
    line-height: 43px;
  }
  h2{
    font-size: 24px;
    line-height: 42px;
  }
  h3{
    font-size: 18px;
    line-height: 31px;
  }
}
@media only screen and (min-width: 1681px) {
  h1{
    font-size: 42px;
    line-height: 46px;
  }
  h2{
    font-size: 36px;
    line-height: 43px;
  }
  h3{
    font-size: 24px;
    line-height: 42px;
  }
}
