@media only screen and (orientation: portrait) {
  h1{
    font-size: 18px;
    line-height: 30px;
  }
  h2, input, button{
    font-size: 14px;
    line-height: 36px;
  }
  h3{
    font-size: 12px;
    line-height: 26px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    /* 320–475 (iPhone SE) */
    h1{
      font-size: 12px;
      line-height: 26px;
    }
    h2, input, button{
      font-size: 14px;
      line-height: 36px;
    }
    h3{
      font-size: 12px;
      line-height: 26px;
    }

    .grid-index-content {
      grid-template-areas:  '.           .           .           .             .'
                            'header0     header      header      header        .'
                            'line-border line-border line-border line-border   line-border'
                            '.           text-mk     text-mk     text-mk       .'
                            '.           date        .           time          .'
                            '.           plak1       plak2       plak3         .'
                            '.           .           .           .             .'
                            'line-border2 line-border2 line-border2 line-border2   line-border2'
                            '.           .           .           .             .'
                            '.           .           .           .             .'
                            '.           uslugi      uslugi      uslugi        .'
                            '.           magaz       magaz       magaz         .'
                            '.           stil        stil        stil          .'
                            '.           .           .           .             .'
                            '.           sign-up     sign-up     sign-up       .'
                            '.           .           .           .             .'
                            '.           .           .           .             .';

      grid-template-columns: calc(100vw * 0/1440) repeat(3, 1fr) calc(100vw * 0/1440);
      grid-gap: calc(100vw * 20/1440) calc(100vw * 40/1440);
    }
    .header-image, .vopr1, .vopr2, .vopr3, .adres, .name1, .name2, .name3, .name-loc1, .name-loc2, .name-loc3, .master {
      display: none;
    }
    .time {
      text-align: right;
    }
    .uslugi, .magaz, .stil {
      padding-bottom: 32%;
      border-radius: 10% / 20%;
      background-position-y: bottom;
      text-align: right;
      padding-right: 10%;
    }
  .uslugi{
    background-image: url('../images/phone-uslugi.svg');
  }
  .magaz{
    background-image: url('../images/phone-magaz.svg');
  }
  .stil{
    background-image: url('../images/phone-stil.svg');
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /* iPad portrait */

}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  h1{
    font-size: 24px;
    line-height: 36px;
  }
  h2, input, button{
    font-size: 14px;
    line-height: 36px;
  }
  h3{
    font-size: 12px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  h1{
    font-size: 24px;
    line-height: 38px;
  }
  h2, input, button{
    font-size: 20px;
    line-height: 38px;
  }
  h3{
    font-size: 18px;
    line-height: 31px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1680px) {
  h1{
    font-size: 36px;
    line-height: 43px;
  }
  h2, input, button{
    font-size: 24px;
    line-height: 42px;
  }
  h3{
    font-size: 18px;
    line-height: 31px;
  }
}
@media only screen and (min-width: 1681px) {
  h1{
    font-size: 40px;
    line-height: 44px;
  }
  h2, input, button{
    font-size: 30px;
    line-height: 50px;
  }
  h3{
    font-size: 20px;
    line-height: 33px;
  }
}
