.menu > ul > li:nth-child(1) {
  border: calc(100vw * 4 / 1440) solid white;
}

.grid-uslugi-content{
  grid-template-areas:  '.           .           .           .             .'
                        '.           new-usluga  new-usluga  new-usluga    .'
                        '.           .           .           .             .'
                        '.           usluga1     usluga2     usluga3       .'
                        '.           usl-txt1    usl-txt2    usl-txt3      .'
                        '.           .           .           .             .'
                        '.           usluga4     usluga4     usl-txt4      .'
                        '.           .           .           .             .'
                        '.           .           .           .             .';
}
.sim-slider {
  grid-area: new-usluga;
  position: relative;
  padding-bottom: 40%;
}
.sim-slider-list {
  position: relative;
}
.sim-slider-element {
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
  width: 5%;
  height: 14%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  z-index: 4;
}

div.sim-slider-arrow-left {
  left: 1%;
  top: 43%;
  display: block;
  background-image: url("../images/sim-arrow-left.svg");
}

div.sim-slider-arrow-right {
  right: 1%;
  top: 43%;
  display: block;
  background-image: url("../images/sim-arrow-right.svg");
}

div.sim-slider-arrow-left:hover {
  opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
  opacity: 1.0;
}
.sim-screen {
  background-color: black;
}
.new-usluga{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding-bottom: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border: calc(100vw * 4 / 1440) solid white;
  border-radius: 4% / 11%;
}
.new-usluga1 {
  background-image: url('../images/new-usluga1.svg');
}
.new-usluga2 {
  background-image: url('../images/new-usluga2.svg');
}
.new-usluga3 {
  background-image: url('../images/new-usluga3.svg');
}
.new-usluga4 {
  background-image: url('../images/new-usluga4.svg');
}
/* .row1{
  grid-area: new-usluga;
  background-image: url('../images/row.svg');
  padding-bottom: 20%;
  background-repeat: no-repeat;
  background-size: contein;

} */
.new-usluga-txt{
  color: black;
  position: absolute;
  margin-top: 30%;
  margin-left: 20%;
}
.usluga1{
  border-radius: 7% / 5%;
  background-image: url('../images/usluga1.svg');
  grid-area: usluga1;
  cursor: pointer;
  border: calc(100vw * 4 / 1440) solid white;
}
.usluga2{
  border-radius: 7% / 5%;
  cursor: pointer;
  border: calc(100vw * 4 / 1440) solid white;
  background-image: url('../images/usluga2.svg');
  grid-area: usluga2;
}
.usluga3{
  border-radius: 7% / 5%;
  cursor: pointer;
  border: calc(100vw * 4 / 1440) solid white;
  background-image: url('../images/usluga3.svg');
  grid-area: usluga3;
}
.usluga4{
  border-radius: 4% / 6.5%;
  cursor: pointer;
  border: calc(100vw * 4 / 1440) solid white;
  background-image: url('../images/usluga4.svg');
  grid-area: usluga4;
  background-repeat: no-repeat;
  padding-bottom: 60%;
  background-size: cover;
}
.usl-txt1{
  grid-area: usl-txt1;
}
.usl-txt2{
  grid-area: usl-txt2;
}
.usl-txt3{
  grid-area: usl-txt3;
}
.usl-txt4{
  grid-area: usl-txt4;
}
