.menu > ul > li:nth-child(1) {
  border: calc(100vw * 4 / 1440) solid white;
}

.grid-uslugi-content{
  grid-template-areas:  '.           .           .           .             .'
                        '.           new-usluga  new-usluga  new-usluga    .'
                        '.           .           .           .             .'
                        '.           usluga1     usluga2     usluga3       .'
                        '.           .           .           .             .'
                        '.           usluga4     usluga4     us-txt4       .'
                        '.           .           .           .             .'
                        '.           .           .           .             .';
}
.new-usluga{
  background-image: url('../images/new-usluga1.svg');
  grid-area: new-usluga;
  padding-bottom: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border: calc(100vw * 4 / 1440) solid white;
  border-radius: 4% / 11%;
}
.new-usluga-txt{
  color: black;
  margin-top: 30%;
  margin-left: 20%;
  grid-area: new-usluga;
}
.usluga1{
  border-radius: 7% / 5%;
  background-image: url('../images/usluga1.svg');
  grid-area: usluga1;
  cursor: pointer;
  border: calc(100vw * 4 / 1440) solid white;
}
.usluga2{
  border-radius: 7% / 5%;
  cursor: pointer;
  border: calc(100vw * 4 / 1440) solid white;
  background-image: url('../images/usluga2.svg');
  grid-area: usluga2;
}
.usluga3{
  border-radius: 7% / 5%;
  cursor: pointer;
  border: calc(100vw * 4 / 1440) solid white;
  background-image: url('../images/usluga3.svg');
  grid-area: usluga3;
}
