.menu > ul > li:nth-child(3) {
  border: calc(100vw * 4 / 1440) solid white;
}

.grid-octopus-content{
  display: grid;
  grid-template-columns: calc(100vw * 40/1440) repeat(6, 1fr) calc(100vw * 40/1440);
  grid-gap: calc(100vw * 20/1440) calc(100vw * 40/1440);
  grid-template-areas:  '.           .           .           .             .           .           .             .'
                        '.           .           .           .             .           .           .             .'
                        '.           octopus1    octopus2    octopus3      octopus4    octopus5    octopus6      .'
                        '.           tx-oct1     tx-oct2     tx-oct3       tx-oct4     tx-oct5     tx-oct6       .'
                        '.           .           .           .             .           .           .             .'
                        '.           .           .           .             .           .           .             .'
                        '.           octopus7    octopus8    octopus9      octopus10   octopus11   octopus12     .'
                        '.           tx-oct7     tx-oct8     tx-oct9       tx-oct10    tx-oct11    tx-oct12      .'
                        '.           .           .           .             .           .           .             .'
                        '.           .           .           .             .           .           .             .';
}
.octopus{
  background-size: cover;
  background-repeat: no-repeat;
  border: calc(100vw * 4 / 1440) solid white;
  width: 96%;
  padding-bottom: 96%;
  border-radius: 50%;
  border-radius: 50% / 50%;
  transition: transform 2s ease-in-out;
}
.octopus:hover{
  transform: rotate(180deg);
}

.octopus1{
  grid-area: octopus1;
  background-image: url('../images/octopus1.svg');
}
.octopus2{
  grid-area: octopus2;
  background-image: url('../images/octopus2.svg');
}
.octopus3{
  grid-area: octopus3;
  background-image: url('../images/octopus3.svg');
}
.octopus4{
  grid-area: octopus4;
  background-image: url('../images/octopus1.svg');
}
.octopus5{
  grid-area: octopus5;
  background-image: url('../images/octopus2.svg');
}
.octopus6{
  grid-area: octopus6;
  background-image: url('../images/octopus3.svg');
}
.octopus7{
  grid-area: octopus7;
  background-image: url('../images/octopus1.svg');
}
.octopus8{
  grid-area: octopus8;
  background-image: url('../images/octopus2.svg');
}
.octopus9{
  grid-area: octopus9;
  background-image: url('../images/octopus3.svg');
}
.octopus10{
  grid-area: octopus10;
  background-image: url('../images/octopus1.svg');
}
.octopus11{
  grid-area: octopus11;
  background-image: url('../images/octopus2.svg');
}
.octopus12{
  grid-area: octopus12;
  background-image: url('../images/octopus3.svg');
}
.tx-oct1{
  grid-area: tx-oct1;
  text-align: center;
}
.tx-oct2{
  grid-area: tx-oct2;
  text-align: center;
}
.tx-oct3{
  grid-area: tx-oct3;
  text-align: center;
}
.tx-oct4{
  grid-area: tx-oct4;
  text-align: center;
}
.tx-oct5{
  grid-area: tx-oct5;
  text-align: center;
}
.tx-oct6{
  grid-area: tx-oct6;
  text-align: center;
}
.tx-oct7{
  grid-area: tx-oct7;
  text-align: center;
}
.tx-oct8{
  grid-area: tx-oct8;
  text-align: center;
}
.tx-oct9{
  grid-area: tx-oct9;
  text-align: center;
}
.tx-oct10{
  grid-area: tx-oct10;
  text-align: center;
}
.tx-oct11{
  grid-area: tx-oct11;
  text-align: center;
}
.tx-oct12{
  grid-area: tx-oct12;
  text-align: center;
}
.star3{
  display: inline-block;
  -webkit-mask: url('https://raw.githubusercontent.com/demeetra/4modul/main/images/star.svg') center center / contain;
  width: 12%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  padding-bottom: 12%;
}
