.grid-index-content {
  grid-template-areas:  '.           .           .           .             .'
                        'header0     header      header      header-image  .'
                        'line-border line-border line-border line-border   line-border'
                        '.           text-mk     text-mk     text-mk       .'
                        '.           vopr1       vopr2       vopr3         .'
                        '.           date        adres       time          .'
                        '.           plak1       plak2       plak3         .'
                        '.           name1       name2       name3         .'
                        '.           name-loc1   name-loc2   name-loc3     .'
                        '.           .           .           .             .'
                        'line-border2 line-border2 line-border2 line-border2   line-border2'
                        '.           .           .           .             .'
                        '.           .           .           .             .'
                        '.           uslugi      magaz       stil          .'
                        '.           .           .           .             .'
                        '.           master      master      sign-up       .'
                        '.           .           .           .             .'
                        '.           .           .           .             .';
}

.header0{
  background-image: url('../images/header0.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  grid-area: header0 / header0 / header / header;

}
.header h1{
  font-family: "Montserrat-Light";
}
.header{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-right: 10%;
  grid-area: header;
  color: black;
}
.header-image{
  grid-area: header-image;
  background-image: url('../images/header-image.svg');
  background-repeat: no-repeat;
  padding-bottom: 100%;
  background-size: contain;
  border-radius: 50% / 50%;
  transition: transform 3s ease-in-out;
}
.header-image:hover{
  transform: rotate(360deg);
 }

.text-mk{
  grid-area: text-mk;
}

.vopr1{
  grid-area: vopr1;
}
.vopr2{
  grid-area: vopr2;
}
.vopr3{
  grid-area: vopr3;
}
.date{
  grid-area: date;
}
.adres{
  grid-area: adres;
}
.time{
  grid-area: time;
}

.plak1{
  background-image: url('../images/plak1.svg');
  grid-area: plak1;
  cursor: pointer;
}
.plak2{
  background-image: url('../images/plak2.svg');
  grid-area: plak2;
}
.plak3{
  background-image: url('../images/plak3.svg');
  grid-area: plak3;
}
.name1{
  grid-area: name1;
  cursor: pointer;
}
.name2{
  grid-area: name2;
}
.name3{
  grid-area: name3;
}
.name-loc1{
  grid-area: name-loc1;
}
.name-loc2{
  grid-area: name-loc2;
}
.name-loc3{
  grid-area: name-loc3;
}

.button{
  border: calc(100vw * 4 / 1440) solid white;
  border-radius: 7% / 5%;
  text-align: center;
  padding-top: 5%;
  filter: saturate(0);
  cursor: pointer;
}
.button:hover{
  filter: saturate(1);
}
.uslugi{
  background-image: url('../images/uslugi.svg');
  grid-area: uslugi;
}
.magaz{
  background-image: url('../images/magaz.svg');
  grid-area: magaz;
}
.stil{
  background-image: url('../images/stil.svg');
  grid-area: stil;
}
.master{
  grid-area: master;
}
.master h1{
  cursor: pointer;
}
.octopuses{
  padding-top: 4%;
  display: inline-block;
  width: 24.6%;
  height: 100%;
  text-align: center;
}
.octopus{
  background-size: cover;
  background-repeat: no-repeat;
  border: calc(100vw * 4 / 1440) solid white;
  width: 80%;
  padding-bottom: 80%;
  border-radius: 50%;
  margin-left: 10%;
  margin-right: 10%;
}
.oct1{
  background-image: url('../images/octopus1.svg');
}
.oct2{
  background-image: url('../images/octopus2.svg');
}
.oct3{
  background-image: url('../images/octopus3.svg');
}
