@import 'reset.css';
@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat-Light.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
body {
  background-color: black;
  color: white;

}
h1, h3{
  font-family: "Montserrat-Light";
}
h2{
  font-family: "Montserrat-SemiBold";
}
.grid{
  display: grid;
  grid-template-areas:  '.           .          .            .             .'
                        '.           .          .            .             .'
                        '.           logo        menu        menu          .'
                        '.           .           .           .             .'
                        '.           .           .           .             .'
                        'header0     header      header      header-image  .'
                        'line-border line-border line-border line-border   line-border'
                        '.           text-mk     text-mk     text-mk       .'
                        '.           vopr1       vopr2       vopr3         .'
                        '.           date        adres       time          .'
                        '.           plak1       plak2       plak3         .'
                        '.           name1       name2       name3         .'
                        '.           name-loc1   name-loc2   name-loc3     .'
                        '.           .           .           .             .'
                        'line-border2 line-border2 line-border2 line-border2   line-border2'
                        '.           .           .           .             .'
                        '.           .           .           .             .'
                        '.           uslugi      magaz       stil          .';
  grid-template-rows: repeat(3, auto-fill);
  grid-template-columns: 40px repeat(3, 1fr) 40px;
  grid-gap: calc(100vw * 20/1440) calc(100% * 40/1440) ;
}

.logo{
  grid-area: logo;
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  padding-bottom: 20%;
}
.menu {
  border-radius: 5% / 50%;
  border: 4px solid white;
  grid-area: menu;
}
.menu > ul {
  height: 100%;
  display: inline-table;
  width: 100%;
}
.menu > ul > li{
  display: table-cell;
  width: 24.5%;
  text-align: center;
  vertical-align: middle;
  /* border: 4px solid white; */
}


.header0{
  background-image: url('../images/header0.svg');
  background-repeat: no-repeat;
  background-size: contain;
  grid-area: header0 / header0 / header / header;

}
.header{
  margin-top: 10%;
  margin-right: 5%;
  grid-area: header;
  color: black;
}
.header-image{
  grid-area: header-image;
  background-image: url('../images/header-image.svg');
  background-repeat: no-repeat;
  padding-bottom: 100%;
  background-size: contain;
}
.line-border{
  grid-area: line-border;
  padding-bottom: 0.3%;
  background-color: white;
}
.line-border2{
  grid-area: line-border2;
  padding-bottom: 0.3%;
  background-color: white;
}
.text-mk{
  grid-area: text-mk;
}

.vopr1{
  grid-area: vopr1;
}
.vopr2{
  grid-area: vopr2;
}
.vopr3{
  grid-area: vopr3;
}
.date{
  grid-area: date;
}
.adres{
  grid-area: adres;
}
.time{
  grid-area: time;
}
.plakat{
  background-repeat: no-repeat;
  padding-bottom: 147%;
  background-size: contain;
}
.plak1{
  background-image: url('../images/plak1.svg');
  grid-area: plak1;
}
.plak2{
  background-image: url('../images/plak2.svg');
  grid-area: plak2;
}
.plak3{
  background-image: url('../images/plak3.svg');
  grid-area: plak3;
}
.name1{
  grid-area: name1;
}
.name2{
  grid-area: name2;
}
.name3{
  grid-area: name3;
}
.name-loc1{
  grid-area: name-loc1;
}
.name-loc2{
  grid-area: name-loc2;
}
.name-loc3{
  grid-area: name-loc3;
}
.uslugi h1, .magaz h1, .stil h1{
  font-family: "Montserrat-SemiBold";
}
.button{
  border: 4px solid white;
  text-align: center;
  padding-top: 5%;
  background-repeat: no-repeat;
  padding-bottom: 147%;
  background-size: contain;
}
.uslugi{
  background-image: url('../images/uslugi.svg');
  grid-area: uslugi;
}
.magaz{
  background-image: url('../images/magaz.svg');
  grid-area: magaz;
}
.stil{
  background-image: url('../images/stil.svg');
  grid-area: stil;
}
