@import 'reset.css';
@import 'style-signup.css';

@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat-Light.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
body {
  background-color: black;
  color: white;

}
h1, h2, input, button{
  font-family: "Montserrat-SemiBold";
}
h3,
.pricheska1-txt h2, .pricheska2-txt h2, .pricheska3-txt h2, .pricheska4-txt h2, .pricheska5-txt h2, .pricheska6-txt h2,
.pr-txt1 h2, .pr-txt2 h2, .pr-txt3 h2, .pr-txt4 h2, .pr-txt5 h2, .pr-txt6 h2,
.prich-txt1 h2, .prich-txt2 h2, .prich-txt3 h2, .prich-txt4 h2, .prich-txt5 h2, .prich-txt6 h2,
.book-txt h2, .book-txt2 h2, .merch-txt1 h2, .merch-txt2 h2, .merch-txt3 h2, .merch-txt4 h2{
  font-family: "Montserrat-Light";
}

.grid {
  display: grid;
  grid-template-columns: calc(100vw * 40/1440) repeat(3, 1fr) calc(100vw * 40/1440);
  grid-gap: calc(100vw * 20/1440) calc(100vw * 40/1440);
}
.grid-menu {
  grid-template-areas:  '.           .          .            .             .'
                        '.           .          .            .             .'
                        '.           logo        menu        menu          .'
                        '.           .           .           .             .'
                        '.           .           .           .             .';
}
.grid-footer {
  grid-template-areas:  '.           .           .           .             .'
                        '.           footer      footer      footer        .'
                        '.           .           .           .             .'
                        '.           .           .           .             .'
                        '.           .           .           .             .';
}

.logo{
  grid-area: logo;
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  padding-bottom: 20%;
  cursor: pointer;
  background-size: 75% 100%;
}

.menu {
  grid-area: menu;
  border-radius: 5% / 50%;
  border: 4px solid white;
}
.menu > ul {
  display: inline-table;
  height: calc(100% + 8px);
  width: calc(100% + 8px);
  margin: -4px -4px -4px -4px;
}
.menu > ul > li {
  display: table-cell;
  width: 25%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 20% / 50%;
}
.menu > ul > li:hover {
  border: 2px solid white;
}
.menu > ul > li > ul {
  display: none;
  position: absolute;
  top: calc(100vw * 40/1440);
  width: calc(100vw * 210 / 1440);
  border: 2px solid white;
  background-color: black;
  border-radius: 20% / 20%;
  box-sizing: border-box;
}
.menu > ul > li:hover > ul {
  display:inherit;
  margin-left: -2px;
}
.menu > ul > li > ul > li {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 2.5%;
  min-height: calc(100vw * 40 / 1440);
  float:none;
  display:list-item;
  position: relative;
}
/* content start*/
.line-border{
  grid-area: line-border;
  padding-bottom: 0.2%;
  background-color: white;
}
.line-border2{
  grid-area: line-border2;
  padding-bottom: 0.2%;
  background-color: white;
}
.plakat{
  background-repeat: no-repeat;
  padding-bottom: 147%;
  background-size: cover;
}
.yellow-star{
  background-color: rgba(250, 179, 52, 1);
}
.white-star{
  background-color: white;
}

.star{
  display: inline-block;
  -webkit-mask: url('https://raw.githubusercontent.com/demeetra/4modul/main/images/star.svg') center center / contain;
  width: 8%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  padding-bottom: 12.5%;
}
.pr-txt{
  width: 40%;
  height: 100%;
  vertical-align: top;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 40%;
  display: inline-block;
}
/* content end */
.footer{
  grid-area: footer;
}
.footer-border{
  border: 4px solid white;
  border-radius: 7% / 50%;
  padding-bottom: 12%;
}
.footer-txt h2{
  font-family: "Montserrat-Light";
  display: inline-block;
  padding-left: 6%;
  padding-top: 1.5%;
}
.go-up{
  border-left: 6px solid white;
  border-top: 6px solid white;
  margin-left: 92%;
  margin-top: 5%;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  cursor: pointer;
}
.go-up:hover{
}
